<h1>Detail for <%= @student.to_s %></h1>
<h2>First Name: <%= @student.first_name %></h2>
<h2>Last Name: <%= @student.last_name %></h2>

<%= link_to "Back to All Student", students_path %>
<%= link_to "Edit this Student", edit_student_path %>
