<h1>Detial page for <%= @student.to_s %></h1>

<h2>first name: <%= @student.first_name %></h2>
<h2>last name: <%= student.last_name %></h2>

<%= form_tag @student, method: "DELETE" do %>
    <%= submit_tag "Delete" %>
<% end %>

<%= link_to "Edit", edit_student_path %>
<%= link_to "Student Index Page", students_path %>
